
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Home</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
	<nav>
  <h2>Content</h2>
  <ol>
    <li><a href="/">Home</a></li>
		{{#if authorised}}
			{{#if isCustomer}}
				<li><a href="/techhub">Hub</a></li>
			{{else}}
				<li><a href="/custhub">Hub</a></li>
			{{/if}}
		{{else}}
			<li><a href="/login">Hub</a></li>
		{{/if}}
		</ol>
		</nav>
		{{#if msg}}
 			<aside>
				<p id="notification" class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
		<p>This is the home page. Users can see it without logging in.</p>
	</main>
	</body>
</html>
