
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="Form to enter login details">
		<meta name="author" content="Salih Ahmed">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<link href="{{host}}/darkstyle.css" type="text/css" rel="stylesheet" />
		<link rel="icon" href="{{host}}/3014274.svg">
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header id="header">
			<img src="{{host}}/3014274.svg" alt="Logo" />
		<h1>Log In</h1>
				<button id="mode">Toggle dark mode</button>
		<a href="/register">Register</a>
		</header>
	<nav>
  <h2>Content</h2>
  <ol>
    <li><a href="/">Home</a></li>
		{{#if authorised}}
			{{#if isCustomer}}
				<li><a href="/techhub">Hub</a></li>
			{{else}}
				<li><a href="/custhub">Hub</a></li>
			{{/if}}
		{{else}}
			<li><a href="/login">Hub</a></li>
		{{/if}}
		</ol>
		</nav>
		{{#if msg}}
 			<aside>
				<p id="notification" class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
		<form action="/login" method="post">
			<p>
				<label for="user">Username</label><br />
				<input type="text" name="user" required="true" data-message="Username required" placeholder="your username" value="{{body.user}}" autofocus>
			</p>
			<p>
				<label for="pass">Password</label><br />
				<input type="password" name="pass" required="true" data-message="Password required" placeholder="your password" value="{{body.pass}}">
			</p>
			<input type="hidden" name="referrer" value="{{referrer}}">
			<p><input type="submit" value="Log in"></p>
		</form>

		</main>
			<footer>
				<p>&copy; Domestic Repairs Ltd.</p>
			</footer>
	</body>
</html>
