
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="Form to enter details for registration">
		<meta name="author" content="Salih Ahmed">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<link href="{{host}}/darkstyle.css" type="text/css" rel="stylesheet" />
		<link rel="icon" href="{{host}}/3014275.svg">
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header id="header">
			<img src="{{host}}/3014274.svg" alt="Logo" />
		<h1>Create an Account</h1>
				<button id="mode">Toggle dark mode</button>
		<a href="/login">Log in</a>
		</header>
	<nav>
  <h2>Content</h2>
  <ol>
    <li><a href="/">Home</a></li>
		{{#if authorised}}
			{{#if isCustomer}}
				<li><a href="/custhub">Hub</a></li>
			{{else}}
				<li><a href="/techhub">Hub</a></li>
			{{/if}}
		{{else}}
			<li><a href="/login">Hub</a></li>
		{{/if}}
		</ol>
		</nav>
		{{#if msg}}
 			<aside>
				<p id="notification" class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
		<form action="/register" autocomplete="off" enctype="multipart/form-data" method="post">
			<p>
				<label for="user">Username</label><br />
				<input autocomplete="off" type="text" name="user" required="true" autofocus data-message="Username required" placeholder="your preferred username (no spaces)" value="{{body.user}}">
			</p>
			<p>
				<label for="pass">Password</label><br />
				<input autocomplete="off" type="password" name="pass" required="true" data-message="Password required" minlength="4" placeholder="your chosen password" value="{{body.pass}}">
			</p>
		<label>
			<p>Account Type</p>
      <select required name="type" value="{{body.type}}">
        <option value="customer">Customer</option>
        <option value="technician">Technician</option>
      </select>
    </label>
			<p>
				<label for="email">Email</label><br />
				<input autocomplete="off" type="email" name="email" required="true" data-message="Email required" placeholder="a valid email address" value="{{body.email}}">
			</p>
			<p><input type="submit" value="Create"></p>
		</form>

		</main>
			<footer>
				<p>&copy; Domestic Repairs Ltd.</p>
			</footer>
	</body>
</html>
