
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Relevant Technicians</title>
		<meta name="description" content="Displays technicians able to do a given job">
		<meta name="author" content="Salih Ahmed">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<link href="{{host}}/darkstyle.css" type="text/css" rel="stylesheet" />
		<link rel="icon" href="{{host}}/3014275.svg">
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header id="header">
			<img src="{{host}}/3014274.svg" alt="Logo" />
		<h1>Relevant Technicians</h1>
				<button id="mode">Toggle dark mode</button>
			<a href="/logout">Log out</a>
		</header>
	<nav>
  <h2>Content</h2>
  <ol>
    <li><a href="/">Home</a></li>
		{{#if authorised}}
			{{#if isCustomer}}
				<li><a href="/custhub">Hub</a></li>
			{{else}}
				<li><a href="/techhub">Hub</a></li>
		{{/if}}
		{{else}}
			<li><a href="/login">Hub</a></li>
		{{/if}}
		</ol>
		</nav>
		<main>
			{{#if status}}
			<p>Based on the appliance you've requested for repair, here are the details of technicians specialising in said repairs</p>
				<table>
					<tr><th><h2>Address</h2></th><th><h2>Phone number</h2></th></tr>
					{{#each records}}
					<tr>
						<td>{{this.address}}</td>
						<td>{{this.phoneNumber}}</td>
						</tr>
					{{/each}}
				</table>
			{{else}}
				<p>Sorry, we have no relevant technicians able to assist you</p>
			{{/if}}
		</main>
			<footer>
				<p>&copy; Domestic Repairs Ltd.</p>
			</footer>
	</body>
</html>
